* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

//Variables para las operaciones de SASS

//colores

$colorPrincipal:rgb(204, 201, 220);
$colorSecundario: grey;
$colorHover: rgb(93, 113, 133);

//tamaños de fuente

$xs:0.625rem;
$small:0.938rem;
$medium:1.563rem;
$large:2.5rem;
$xl:3.75rem;

//porcentajes

$porcentaje1: 100%;
$porcentaje2: 75%;
$porcentaje3: 50%;
$porcentaje4: 25%;
$porcentaje5: 0%;

//ancho y alto en rem

$ancho: 50rem;
$alto: 50rem;


/* fuente única */

@font-face {
    font-family: 'Seravek-ExtraLight';
    src: url(Fuente/Seravek-ExtraLight.ttf);
}

.body--background-color {
    height: 100vh;
    width: 100vw;
    font-family: 'Seravek-ExtraLight';
    background-color: $colorPrincipal;
    background-image: url(img/fondo2.png);
    background-position: center;
    background-size: cover;

}


html {
    scroll-behavior: smooth;
}

/* Header */

.seccion-1 {
    width: $porcentaje1;
    height: auto;
    justify-content: center;



    .Nombre {
        background-color: rgb(23, 26, 33);

    }

}

.Nombre__h1--text-align {
    font-style: normal;
    text-align: center;
    padding: 1.25rem 0 1.25rem 0;
    font-size: $xl + 1rem;
    text-transform: uppercase;
    background: linear-gradient(to top, $colorPrincipal 25%, black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

/*slider*/

.sliderPagina {

    width: $porcentaje3;
    height: auto;
    margin: 1.875rem auto 1.875rem auto;

}

.carousel-inner img {

    background-size: cover;
    background-position: center;
    height: $porcentaje1;
    width: $porcentaje1;
    border-radius: 1rem;
}


/* Menu navegación*/

.contenedorBarraNavegación {
    display: grid;
    justify-content: center;
    background-color: $colorSecundario;

}

.navbar {
    color: rgb(0, 0, 0);
    font-size: $medium - 0.3rem;
}

.navbar li {
    padding: 1rem 1rem 1rem 1rem;

}

.dropdown-menu {
    background-color: grey;
}

.dropdown-item:hover {
    background-color: rgb(151, 151, 151);
}

/*Nosotros*/

.seccion-2 {
    @extend .seccion-1;
}

.seccion2grid {
    display: grid;
    grid-template-columns: (50% 50%);
    grid-column-gap: 2rem;
    height: auto;
    padding: 3rem 3rem 3rem 3rem;
}

.seccion-2contenedor {
    border: hidden;
    position: relative;
    padding-top: 53%;
}

.seccion-2contenedor iframe {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    height: $porcentaje1;
    width: $porcentaje1;
    border-radius: 1rem;
}


.secciones {
    width: 12rem;
    position: relative;
    padding: 1rem 0 1rem 0;
    text-align: center;
    background-color: $colorSecundario;
    display: grid;
}

#Nosotros {
    border-radius: 0 1rem 1rem 0;
    transition: width 2s;
}

#Nosotros:hover {
    width: 82.3rem;
}

#Productos {
    @extend #Nosotros;
}

#Complementos {
    @extend #Nosotros;
}

#Contacto {
    width: $porcentaje1;
    padding: 1rem 0 1rem 0;
    text-align: center;
    background-color: $colorSecundario;




}


.contenedorParrafo {
    display: grid;
    text-align: center;
    height: $porcentaje1;
    width: $porcentaje1;
}

.contenedorParrafo__p--text-align {
    text-align: justify;
    font-size: $medium - 0.3rem;
    line-height: 1.5rem;
}

/*Productos*/

.seccion-3 {
    @extend .seccion-1;
}

.galeriaProductos {
    padding: 1.875rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, minmax(12.5rem, 12.5rem));
    grid-auto-rows: minmax(12.5rem, 12.5rem);
    gap: 1.5rem;

}

.galeriaProductos a {
    text-decoration: none;
}


.galeriaProductos__elemento {
    text-align: center;
    color: black;
    font-size: $small;
}

.galeriaProductos__elemento:hover {

    font-weight: bolder;
    transform: scale(1.3);
    transition: all 0.5s;
}


#elemento1 {

    background-image: url(img/img4a.jpg);
    height: $porcentaje1;
    width: $porcentaje1;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
    color: black;
    border: solid $colorSecundario;
}

#elemento2 {

    background-image: url(img/img1a.jpg);
    @extend #elemento1;
}

#elemento3 {

    background-image: url(img/img5a.jpg);
    @extend #elemento1;
}

#elemento4 {

    background-image: url(img/img3a.jpg);
    @extend #elemento1;
}

#elemento5 {

    background-image: url(img/img2a.jpg);
    @extend #elemento1;
}

/* Complementos  */

.seccion-4 {
    @extend .seccion-1;

}

.galeriaComplementos {

    @extend .galeriaProductos;
    grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));

}


.galeriaComplementos__elemento {

    @extend .galeriaProductos__elemento;
}


#elemento6 {

    background-image: url(img/img6a.jpg);
    @extend #elemento1;
}

#elemento7 {

    background-image: url(img/img8a.jpg);
    @extend #elemento1;
}

#elemento8 {

    background-image: url(img/img7a.jpg);
    @extend #elemento1;
}


/*Contacto*/

.seccion-5 {
    @extend .seccion-1;

}

.fondoFormulario {
    display: grid;
    background-image: url(img/fondofinal.jpg);
    background-position: center;
    background-size: cover;

}

.formulario-contacto {
    display: grid;
    background: transparent;
    backdrop-filter: blur(10px);
    width: $ancho - 31.25rem;
    height: auto;
    margin: 1.875rem auto 1.875rem auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    position: relative;
}

.botFormulario {
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 0.2rem;
    border-radius: 0.2rem;
    border-style: none;
    box-shadow: ($xs - 0.4rem) ($xs - 0.4rem) $xs;
    margin: 0.625rem;
}

.botonesFormularioUbicacion {
    text-align: center;
    padding: 1rem 0 1rem 0;

}

.botFormulario:hover {
    background-color: $colorHover;

}

/* boton subir */

.botSub {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 3rem;
    height: 2rem;
    position: fixed;
    bottom: 5rem;
    right: 4rem;
    background-color: $colorSecundario;
    border-radius: 0.188rem;
    font-weight: normal;
    color: black;

}

.botSub:hover {
    font-weight: bolder;
    background-color: $colorHover;
    text-decoration: none;
    color: black;
}

/*Footer*/

.seccion-7 {
    @extend .seccion-1;
}

.footerGrid {
    display: grid;
    grid-template-columns: (15% 67% 18%);
    grid-column-gap: 2rem;
    height: $porcentaje1;
    padding: 2rem 2rem 2rem 2rem;
    background-color: rgb(23, 26, 33);
}

.footer__text--size {
    color: $colorPrincipal;
    display: grid;
    text-align: center;
    line-height: 4rem;
    font-size: $small;
}

.redes {
    text-align: center;
    letter-spacing: .2rem;
    line-height: 4rem;
}

.fa-whatsapp {
    font-size: 1.5rem;
    color: $colorPrincipal;
}

.fa-instagram {
    @extend .fa-whatsapp;
}

.fa-facebook {
    @extend .fa-whatsapp;
}

/*Mobile first*/

/*Header*/

@media only screen and (min-width: 0px) {
    .Nombre__h1--text-align {
        font-size: 3rem;
    }

    .navbar {
        grid-template-columns: 1, 5rem;
    }

    .sliderPagina {
        min-width: 20rem;
    }

    .seccion2grid {

        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    .parrafo {
        font-size: 0.8rem;
    }

    .galeriaProductos {
        grid-template-columns: 12.5rem;
    }

    .galeriaComplementos {
        grid-template-columns: 12.5rem
    }

    .formulario-contacto {
        width: 14rem;
        height: 30rem;
        font-size: 0.7rem;
    }

    .secciones {
        font-size: 1.2rem;
    }

    #Contacto {
        font-size: 1.2rem;
    }


    .secciones:hover {
        max-width: 17rem;
        transition: width 2s;
    }


    .footerGrid {
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 360px) {
    .Nombre__h1--text-aligne {
        font-size: 3rem;
    }

    .navbar {
        grid-template-columns: 1, 5rem;
    }

    .sliderPagina {
        min-width: 20rem;
    }

    .seccion2grid {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }


    .parrafo {
        font-size: 0.8rem;
    }

    .galeriaProductos {
        grid-template-columns: 12.5rem;
    }

    .galeriaComplementos {
        grid-template-columns: 12.5rem
    }

    .formulario-contacto {
        width: 20rem;
        height: 30rem;
        font-size: 0.7rem;
    }

    .secciones {
        font-size: 1.2rem;
    }

    #Contacto {
        font-size: 1.2rem;
    }

    .secciones:hover {
        max-width: 20rem;
        transition: width 2s;
    }

    .footerGrid {
        grid-template-columns: 1fr;
    }

}


@media only screen and (min-width: 600px) {
    .Nombre__h1--text-align {
        font-size: 5rem;
    }

    .navbar {
        grid-template-columns: repeat(5, 3rem);
    }

    .sliderPagina {
        min-width: 32rem;
    }

    .seccion2grid {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }


    .parrafo {
        font-size: 1.2rem;
    }

    .galeriaProductos {
        grid-template-columns: 12.5rem;
    }

    .galeriaComplementos {
        grid-template-columns: 12.5rem
    }

    .formulario-contacto {
        width: 30rem;
        height: 40rem;
        font-size: 0.938rem;
    }

    .secciones {
        font-size: 1.5rem;
    }

    #Contacto {
        font-size: 1.5rem;
    }

    .secciones:hover {
        max-width: 34.5rem;
        transition: width 2s;
    }

    .footerGrid {
        grid-template-columns: 1fr;
    }

}

@media only screen and (min-width: 700px) {

    .galeriaProductos {
        grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));
    }

    .galeriaComplementos {
        grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));
    }
}

@media only screen and (min-width: 1200px) {
    .Nombre__h1--text-align {
        font-size: 5rem;
    }

    .navbar {
        grid-template-columns: repeat(5, 3rem);
    }


    .sliderPagina {
        min-width: 45rem;
    }

    .seccion2grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    .parrafo {
        font-size: 1.5rem;
    }

    .galeriaProductos {
        grid-template-columns: repeat(5, minmax(12.5rem, 12.5rem));
    }

    .galeriaComplementos {
        grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));
    }

    .formulario-contacto {
        width: 35rem;
        height: 40rem;
        font-size: 0.938rem;
    }

    .secciones {
        font-size: 1.5rem;
    }

    #Contacto {
        font-size: 1.5rem;
    }


    .secciones:hover {
        max-width: 71.7rem;
        transition: width 2s;
    }

    .footerGrid {
        grid-template-columns: 15% 67% 18%;
    }
}

@media only screen and (min-width: 1317px) {

    .secciones:hover {
        max-width: 82.3rem;
        transition: width 2s;
    }
}