@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fuente única */
@font-face {
  font-family: "Seravek-ExtraLight";
  src: url(Fuente/Seravek-ExtraLight.ttf);
}
.body--background-color {
  height: 100vh;
  width: 100vw;
  font-family: "Seravek-ExtraLight";
  background-color: #ccc9dc;
  background-image: url(img/fondo2.png);
  background-position: center;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

/* Header */
.seccion-1, .seccion-7, .seccion-5, .seccion-4, .seccion-3, .seccion-2 {
  width: 100%;
  height: auto;
  justify-content: center;
}
.seccion-1 .Nombre, .seccion-7 .Nombre, .seccion-5 .Nombre, .seccion-4 .Nombre, .seccion-3 .Nombre, .seccion-2 .Nombre {
  background-color: #171a21;
}

.Nombre__h1--text-align {
  font-style: normal;
  text-align: center;
  padding: 1.25rem 0 1.25rem 0;
  font-size: 4.75rem;
  text-transform: uppercase;
  background: linear-gradient(to top, #ccc9dc 25%, black);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*slider*/
.sliderPagina {
  width: 50%;
  height: auto;
  margin: 1.875rem auto 1.875rem auto;
}

.carousel-inner img {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

/* Menu navegación*/
.contenedorBarraNavegación {
  display: grid;
  justify-content: center;
  background-color: grey;
}

.navbar {
  color: black;
  font-size: 1.263rem;
}

.navbar li {
  padding: 1rem 1rem 1rem 1rem;
}

.dropdown-menu {
  background-color: grey;
}

.dropdown-item:hover {
  background-color: #979797;
}

/*Nosotros*/
.seccion2grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2rem;
  height: auto;
  padding: 3rem 3rem 3rem 3rem;
}

.seccion-2contenedor {
  border: hidden;
  position: relative;
  padding-top: 53%;
}

.seccion-2contenedor iframe {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.secciones {
  width: 12rem;
  position: relative;
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: grey;
  display: grid;
}

#Nosotros, #Complementos, #Productos {
  border-radius: 0 1rem 1rem 0;
  transition: width 2s;
}

#Nosotros:hover, #Complementos:hover, #Productos:hover {
  width: 82.3rem;
}

#Contacto {
  width: 100%;
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: grey;
}

.contenedorParrafo {
  display: grid;
  text-align: center;
  height: 100%;
  width: 100%;
}

.contenedorParrafo__p--text-align {
  text-align: justify;
  font-size: 1.263rem;
  line-height: 1.5rem;
}

/*Productos*/
.galeriaProductos, .galeriaComplementos {
  padding: 1.875rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(12.5rem, 12.5rem));
  grid-auto-rows: minmax(12.5rem, 12.5rem);
  gap: 1.5rem;
}

.galeriaProductos a, .galeriaComplementos a {
  text-decoration: none;
}

.galeriaProductos__elemento, .galeriaComplementos__elemento {
  text-align: center;
  color: black;
  font-size: 0.938rem;
}

.galeriaProductos__elemento:hover, .galeriaComplementos__elemento:hover {
  font-weight: bolder;
  transform: scale(1.3);
  transition: all 0.5s;
}

#elemento1, #elemento8, #elemento7, #elemento6, #elemento5, #elemento4, #elemento3, #elemento2 {
  background-image: url(img/img4a.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  color: black;
  border: solid grey;
}

#elemento2 {
  background-image: url(img/img1a.jpg);
}

#elemento3 {
  background-image: url(img/img5a.jpg);
}

#elemento4 {
  background-image: url(img/img3a.jpg);
}

#elemento5 {
  background-image: url(img/img2a.jpg);
}

/* Complementos  */
.galeriaComplementos {
  grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));
}

#elemento6 {
  background-image: url(img/img6a.jpg);
}

#elemento7 {
  background-image: url(img/img8a.jpg);
}

#elemento8 {
  background-image: url(img/img7a.jpg);
}

/*Contacto*/
.fondoFormulario {
  display: grid;
  background-image: url(img/fondofinal.jpg);
  background-position: center;
  background-size: cover;
}

.formulario-contacto {
  display: grid;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 18.75rem;
  height: auto;
  margin: 1.875rem auto 1.875rem auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.botFormulario {
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 0.2rem;
  border-radius: 0.2rem;
  border-style: none;
  box-shadow: 0.225rem 0.225rem 0.625rem;
  margin: 0.625rem;
}

.botonesFormularioUbicacion {
  text-align: center;
  padding: 1rem 0 1rem 0;
}

.botFormulario:hover {
  background-color: #5d7185;
}

/* boton subir */
.botSub {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 3rem;
  height: 2rem;
  position: fixed;
  bottom: 5rem;
  right: 4rem;
  background-color: grey;
  border-radius: 0.188rem;
  font-weight: normal;
  color: black;
}

.botSub:hover {
  font-weight: bolder;
  background-color: #5d7185;
  text-decoration: none;
  color: black;
}

/*Footer*/
.footerGrid {
  display: grid;
  grid-template-columns: 15% 67% 18%;
  grid-column-gap: 2rem;
  height: 100%;
  padding: 2rem 2rem 2rem 2rem;
  background-color: #171a21;
}

.footer__text--size {
  color: #ccc9dc;
  display: grid;
  text-align: center;
  line-height: 4rem;
  font-size: 0.938rem;
}

.redes {
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 4rem;
}

.fa-whatsapp, .fa-facebook, .fa-instagram {
  font-size: 1.5rem;
  color: #ccc9dc;
}

/*Mobile first*/
/*Header*/
@media only screen and (min-width: 0px) {
  .Nombre__h1--text-align {
    font-size: 3rem;
  }

  .navbar {
    grid-template-columns: 1, 5rem;
  }

  .sliderPagina {
    min-width: 20rem;
  }

  .seccion2grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .parrafo {
    font-size: 0.8rem;
  }

  .galeriaProductos, .galeriaComplementos {
    grid-template-columns: 12.5rem;
  }

  .galeriaComplementos {
    grid-template-columns: 12.5rem;
  }

  .formulario-contacto {
    width: 14rem;
    height: 30rem;
    font-size: 0.7rem;
  }

  .secciones {
    font-size: 1.2rem;
  }

  #Contacto {
    font-size: 1.2rem;
  }

  .secciones:hover {
    max-width: 17rem;
    transition: width 2s;
  }

  .footerGrid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 360px) {
  .Nombre__h1--text-aligne {
    font-size: 3rem;
  }

  .navbar {
    grid-template-columns: 1, 5rem;
  }

  .sliderPagina {
    min-width: 20rem;
  }

  .seccion2grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .parrafo {
    font-size: 0.8rem;
  }

  .galeriaProductos, .galeriaComplementos {
    grid-template-columns: 12.5rem;
  }

  .galeriaComplementos {
    grid-template-columns: 12.5rem;
  }

  .formulario-contacto {
    width: 20rem;
    height: 30rem;
    font-size: 0.7rem;
  }

  .secciones {
    font-size: 1.2rem;
  }

  #Contacto {
    font-size: 1.2rem;
  }

  .secciones:hover {
    max-width: 20rem;
    transition: width 2s;
  }

  .footerGrid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 600px) {
  .Nombre__h1--text-align {
    font-size: 5rem;
  }

  .navbar {
    grid-template-columns: repeat(5, 3rem);
  }

  .sliderPagina {
    min-width: 32rem;
  }

  .seccion2grid {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .parrafo {
    font-size: 1.2rem;
  }

  .galeriaProductos, .galeriaComplementos {
    grid-template-columns: 12.5rem;
  }

  .galeriaComplementos {
    grid-template-columns: 12.5rem;
  }

  .formulario-contacto {
    width: 30rem;
    height: 40rem;
    font-size: 0.938rem;
  }

  .secciones {
    font-size: 1.5rem;
  }

  #Contacto {
    font-size: 1.5rem;
  }

  .secciones:hover {
    max-width: 34.5rem;
    transition: width 2s;
  }

  .footerGrid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 700px) {
  .galeriaProductos, .galeriaComplementos {
    grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));
  }

  .galeriaComplementos {
    grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));
  }
}
@media only screen and (min-width: 1200px) {
  .Nombre__h1--text-align {
    font-size: 5rem;
  }

  .navbar {
    grid-template-columns: repeat(5, 3rem);
  }

  .sliderPagina {
    min-width: 45rem;
  }

  .seccion2grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .parrafo {
    font-size: 1.5rem;
  }

  .galeriaProductos, .galeriaComplementos {
    grid-template-columns: repeat(5, minmax(12.5rem, 12.5rem));
  }

  .galeriaComplementos {
    grid-template-columns: repeat(3, minmax(12.5rem, 12.5rem));
  }

  .formulario-contacto {
    width: 35rem;
    height: 40rem;
    font-size: 0.938rem;
  }

  .secciones {
    font-size: 1.5rem;
  }

  #Contacto {
    font-size: 1.5rem;
  }

  .secciones:hover {
    max-width: 71.7rem;
    transition: width 2s;
  }

  .footerGrid {
    grid-template-columns: 15% 67% 18%;
  }
}
@media only screen and (min-width: 1317px) {
  .secciones:hover {
    max-width: 82.3rem;
    transition: width 2s;
  }
}/*# sourceMappingURL=Estilos.css.map */